{% extends '@WebProfiler/Profiler/layout.html.twig' %}
{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        <svg xmlns="http://www.w3.org/2000/svg"> ... </svg>
        <span class="sf-toolbar-value">Tesseract</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>Php configuration</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.ffi ? 'green' : 'gray' }}">FFI {{ collector.ffi ? '✓' : '✗' }}</span>
            </div>
        </div>

        <div class="sf-toolbar-info-group">
            <div class="sf-toolbar-info-piece">
                <b>Integrations</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.cliintegrationenabled ? 'green' : 'gray' }}">CLI {{ collector.cliintegrationenabled ? '✓' : '✗' }}</span>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.ffiintegrationenabled ? 'green' : 'gray' }}">FFI {{ collector.ffiintegrationenabled ? '✓' : '✗' }}</span>
            </div>

            {% if collector.cliintegrationenabled %}
                <div class="sf-toolbar-info-piece">
                    <b>Tesseract CLI version</b>
                    {% set cli_integration = collector.cliintegrationdata %}
                    <span>{{ cli_integration is not empty ? cli_integration.tesseractVersion : 'n/a' }}</span>
                </div>
            {% endif %}

            {% if collector.ffiintegrationenabled %}
                <div class="sf-toolbar-info-piece">
                    <b>Tesseract FFI version</b>
                    {% set ffi_integration = collector.ffiintegrationdata %}
                    <span>{{ ffi_integration is not empty ? ffi_integration.tesseractVersion : 'n/a' }}</span>
                </div>
            {% endif %}
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true, additional_classes: 'sf-toolbar-block-right' }) }}
{% endblock toolbar %}

{% block menu %}
    <span class="label label-status-">
        <span class="icon">...</span>
        <strong>Tesseract</strong>
    </span>
{% endblock menu %}

{% block panel %}
    <h2>Tesseract</h2>

    <div class="sf-tabs">
        {% if collector.cliintegrationenabled %}
            {% set cli_integration = collector.cliintegrationdata %}
            <div class="tab">
                <h3 class="tab-title">CLI integration</h3>
                <div class="tab-content">
                    <h2>Overview</h2>
                    <div class="metrics">
                        <div class="metric">
                            <span class="value">{{ cli_integration is not empty ? cli_integration.tesseractVersion : 'n/a' }}</span>
                            <span class="label">Version</span>
                        </div>
                    </div>
                    <h2>Available languages</h2>
                    <div class="metrics">
                        {% for language in cli_integration.availableLanguages %}
                            <div class="metric">
                                <span class="value">{{ language }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if collector.ffiintegrationenabled %}
            {% set ffi_integration = collector.ffiintegrationdata %}
            <div class="tab">
                <h3 class="tab-title">FFI integration</h3>
                <div class="tab-content">
                    <h2>Overview</h2>
                    <div class="metrics">
                        <div class="metric">
                            <span class="value">{{ ffi_integration is not empty ? ffi_integration.tesseractVersion : 'n/a' }}</span>
                            <span class="label">Version</span>
                        </div>
                    </div>
                    <h2>Available languages</h2>
                    <div class="metrics">
                        {% for language in ffi_integration.availableLanguages %}
                            <div class="metric">
                                <span class="value">{{ language }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock panel %}
